<div class="container">
    <h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
    <h4>Welcome to CSS 566 Online course page</h4>
    <h4>Click <a href="./Quiz">here</a> for Quiz</h4>
</div>
