<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Software Management Course</title>
    <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css" rel="stylesheet" />
</head>
<body>
	@RenderBody()
</body>
</html>
